@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

body {
    background-color: #DBDBDB;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
    outline: 0 none;
}

.form {
    width: 360px;
    padding: 32px 28px;
    background-color: #F2F2F2;
    border-radius: 2px;
    margin: 24px;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
    position: relative;
    top: 100px;
}
.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    height: 50px;
    padding: 8px 12px !important;
    background-color: #F2F2F2;
    border: 2px solid #6B7A8F;
    border-radius: 5px;
    outline: none;
}

.form-control:hover {
    border-color: #1dbfaf !important;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 14px;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit, .btn-fb, .btn-gg {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 8px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-fb {
    background-color: #4795FF;
}

.btn-gg {
    background-color: #EA4336;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}

.form-submit[disabled] {
    background-color: grey;
    color: #eeeeee;
}