<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="layout :: head" ></div>
</head>

<body>

<div class="d-flex">
    <div th:replace="layout :: sidebar"></div>

    <div class="right-section d-flex flex-column">
        <div th:replace="layout :: menu-top"></div>
        <div id="content">
            <section>
                <div class="container">
                    <div class="page-header">
                        <h3 class="m-0">Manage Order</h3>
                        <p class="m-0 mt-1">ShopBee Admin Panel</p>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 mb-5">
                                <div class="card border-0 shadow" style="border-radius: 8px !important;">
                                    <div class="card-header d-flex"
                                         style="padding: 30px !important; border-radius: 8px 8px 0 0 !important;">
                                        <h5 class="align-middle">Order List</h5>
                                    </div>
                                    <div class="card-body tables-view">
                                        <table id="example" class="table table-hover table-bordered mb-4">
                                            <thead>
                                            <tr class="text-center">
                                                <th scope="col">Order Id</th>
                                                <th scope="col" class="text-start">Product</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Billing Address</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Total</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="order : ${orderList}" class="align-middle text-center">
                                                <th th:text="${order.id}"></th>
                                                <td style="width: 20%" class="text-start">
                                                    <th:block th:if="${order.itemList}">
                                                        <th:block th:each="item : ${order.itemList}">
                                                            <img th:attr="src = ${item.product.productThumbnail}" class="thumbnail-table" alt="thumbnail"/>
                                                        </th:block>
                                                    </th:block>
                                                </td>
                                                <td th:text="${order?.orderStatus}"></td>
                                                <td th:text="${order?.user?.userDetails?.address}"></td>
                                                <td th:text="${#temporals.format(order?.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
                                                <td th:text="${order?.orderPrice}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer th:replace="layout :: footer"></footer>
    </div>

</div>

</body>

</html>