<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="layout :: head" ></div>
</head>

<body>

<div class="d-flex">
    <div th:replace="layout :: sidebar"></div>

    <div class="right-section d-flex flex-column">
        <div th:replace="layout :: menu-top"></div>
        <div id="content">
            <section>
                <div class="container-fluid col mt-4">
                    <div class="card mb-3 shadow border-0">
                        <div class="card-body">
                            <h5>Order Details: #<span th:text="${order.id}"></span></h5>
                            <p class="fs--1">
                                <span th:text="${#temporals.day(order.createdAt)}"></span> <span th:text="${#temporals.monthName(order.createdAt)}"></span>,
                                <span th:text="${#temporals.year(order.createdAt)}"></span>, <span th:text="${#temporals.hour(order.createdAt)}"></span>:<span th:text="${#temporals.minute(order.createdAt)}"></span></p>
                        </div>
                    </div>
                    <div class="card mb-3 shadow border-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h5 class="mb-3 fs-0">Billing Address</h5>
                                    <h6 class="mb-2" th:if="${order.billingInfo.fullName!=null}" th:text="${order.billingInfo.fullName}"></h6>
                                    <p class="mb-1 fs--1" th:text="${order.billingInfo.shipAddress}"></p>
                                    <p class="mb-0 fs--1"> <strong>Email: </strong><a th:href="'mailto:' + ${order.user.emailAddress}" th:text="${order.user.emailAddress}"></a></p>
                                    <p class="mb-0 fs--1"> <strong>Phone: </strong><a th:href="'tel:' + ${order.user.userDetails?.phoneNumber}" th:text="${order.user.userDetails?.phoneNumber}"></a></p>
                                </div>
                                <div class="col-lg-4">
                                    <h5 class="mb-3 fs-0">Customer Address</h5>
                                    <h6 class="mb-2" th:text="${order.user?.userDetails?.fullName}"></h6>
                                    <p class="mb-0 fs--1" th:text="${order.user?.userDetails?.address}"></p>
                                    <div class="text-500 fs--1">(Free Shipping)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 shadow border-0">
                        <div class="card-body">
                            <div class="table-responsive fs--1">
                                <table class="table table-striped border-bottom">
                                    <thead class="bg-200 text-900">
                                    <tr>
                                        <th class="border-0">Products</th>
                                        <th class="border-0 text-center">Quantity</th>
                                        <th class="border-0 text-right">Price</th>
                                        <th class="border-0 text-center">Discount</th>
                                        <th class="border-0 text-center">Status</th>
                                        <th class="border-0 text-right">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${order.itemList}">
                                        <td class="align-middle" style="max-width: 550px">
                                            <h6 class="mb-0" th:text="${item.product.post.postTitle}"></h6>
                                        </td>
                                        <td class="align-middle text-center" th:text="${item.productQuantity}"></td>
                                        <td class="align-middle text-right" th:text="${#numbers.formatInteger(item.product.productPrice,5)} + ' đ'"></td>
                                        <td class="align-middle text-center" th:text="${item.product.discount} + '%'"></td>
                                        <td class="align-middle text-center">
                                            <span class="item-status badge rounded-pill" th:text="${item.itemStatus}"></span>
                                        </td>
                                        <td class="align-middle text-right" th:text="${#numbers.formatInteger(item.itemPrice,5)} + ' đ'"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row no-gutters justify-content-end">
                                <div class="col-auto">
                                    <table class="table table-sm table-borderless fs--1 text-right">
                                        <tbody>
                                        <tr class="border-top">
                                            <th class="text-900">Total:</th>
                                            <td class="font-weight-semi-bold" th:text="${#numbers.formatInteger(order.orderPrice,5)} + ' đ'"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer th:replace="layout :: footer"></footer>
    </div>

</div>

<script>
    $(document).ready(function () {
        $('.item-status').each(function () {
            switch ($(this).text()) {
                case 'COMPLETED':
                    $(this).addClass('bg-success');
                    break;
                case 'CANCELED':
                    $(this).addClass('bg-danger');
                    break;
                case 'AWAITING_SHIPMENT':
                    $(this).addClass('bg-warning');
                    break;
                case 'AWAITING_FULFILLMENT':
                    $(this).addClass('bg-secondary');
                    break;
            }
        })
    })
</script>

</body>

</html>