<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="layout :: head" ></div>
</head>

<body>

<div class="d-flex">
    <div th:replace="layout :: sidebar"></div>

    <div class="right-section d-flex flex-column">
        <div th:replace="layout :: menu-top"></div>
        <div id="content">
            <section>
                <div class="container">
                    <div class="page-header">
                        <h3 class="m-0">All Products</h3>
                        <p class="m-0 mt-1">ShopBee Admin Panel</p>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 mb-5">
                                <div class="card border-0 shadow" style="border-radius: 8px !important;">
                                    <div class="card-header"
                                         style="padding: 30px !important; border-radius: 8px 8px 0 0 !important;">
                                        <h5>Product List</h5>
                                    </div>
                                    <div class="card-body tables-view">
                                        <table id="example" class="table table-hover table-bordered mb-4">
                                            <thead>
                                            <tr class="text-center">
                                                <th scope="col">#</th>
                                                <th scope="col">Image</th>
                                                <th scope="col" class="text-start">Name</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Discount</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">SubCategory</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="product : ${productList}" class="align-middle text-center">
                                                <th th:text="${product.id}"></th>
                                                <td><img th:attr="src = ${product.productThumbnail}" class="thumbnail-table" alt="">
                                                </td>
                                                <td class="text-start" th:text="${product.productName}"></td>
                                                <td th:text="'đ ' + ${product.productPrice}"></td>
                                                <td th:text="${product.discount} + ' %'"></td>
                                                <td th:text="${product.quantity}"></td>
                                                <td th:text="${product.subCategory.category.categoryName}">̣</td>
                                                <td th:text="${product.subCategory.subCategoryName}"></td>
                                                <td>
                                                    <a th:href="@{/admin/deleteProduct/{id}(id=${product.id})}" class="btn btn-sm btn-danger">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer th:replace="layout :: footer"></footer>
    </div>

</div>

</body>

</html>