<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="layout :: head" ></div>
</head>

<body>

<div class="d-flex">
    <div th:replace="layout :: sidebar"></div>

    <div class="right-section d-flex flex-column">
        <div th:replace="layout :: menu-top"></div>
        <div id="content">
            <section>
                <div class="container">
                    <div class="page-header">
                        <h3 class="m-0">All SubCategories</h3>
                        <p class="m-0 mt-1">ShopBee Admin Panel</p>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 mb-5">
                                <div class="card border-0 shadow" style="border-radius: 8px !important;">
                                    <div class="card-header d-flex"
                                         style="padding: 30px !important; border-radius: 8px 8px 0 0 !important;">
                                        <h5>SubCategory List</h5>
                                        <button class="btn btn-main ms-auto" id="add-btn">Add Sub Category</button>
                                    </div>
                                    <div class="card-body tables-view">
                                        <table id="example" class="table table-hover table-bordered mb-4">
                                            <thead>
                                            <tr class="text-center">
                                                <th scope="col">#</th>
                                                <th scope="col" class="text-start">Name</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="sub : ${subCategoryList}" class="align-middle text-center">
                                                <th th:text="${sub.id}"></th>
                                                </td>
                                                <td class="text-start" th:text="${sub.subCategoryName}"></td>
                                                <td th:text="${sub.category.categoryName}">
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-secondary edit-btn">
                                                        <i class="bi bi-pen"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-primary del-btn">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                    <input type="hidden" class="subCategoryId" th:value="${sub.id}">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer th:replace="layout :: footer"></footer>
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/admin/subcategories/save}" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="id">
                        <div class="mb-3">
                            <label for="subCategoryName" class="form-label">Sub Category Name</label>
                            <input type="text" name="subCategoryName" class="form-control" id="subCategoryName">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Category</label>
                            <select id="category" name="category" class="form-select">
                                <option th:each="category: ${categoryList}"
                                        th:value="${category.id}"
                                        th:text="${category.categoryName}"/>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete Sub Category <strong id="del-content"></strong> ? </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-primary" id="del-link">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // for edit category
    $(document).on("click",".edit-btn", function () {
        var id = $(this).parent().find('.subCategoryId').val();
        $('#addModalLabel').html('Edit Sub Category');
        $.ajax({
            type: 'GET',
            url: '/api/admin/subcategories/' + id + "/getById",
            success: function (subCategory) {
                $('#addModal #id').val(subCategory.id);
                $('#addModal #subCategoryName').val(subCategory.subCategoryName);
                $('#addModal #category').val(subCategory.categoryId);
            }
        });
        $('#addModal').modal('show');
    });

    // for add new category
    $(document).on("click","#add-btn", function () {
        var id = $(this).parent().find('.subCategoryId').val();
        $('#addModalLabel').html('Add Sub Category');
        $('#addModal #id').val('');
        $('#addModal #subCategoryName').val('');
        $('#addModal').modal('show');
    });

    // for delete category
    $(document).on("click", ".del-btn", function () {
        var id = $(this).parent().find('.subCategoryId').val();
        $('#delModalLabel').html('Are you sure ?');
        $.ajax({
            type: 'GET',
            url: '/api/admin/subcategories/' + id + "/getById",
            success: function (subCategory) {
                $('#delModal #del-content').text(subCategory.subCategoryName);
                $('#delModal #del-link').attr("href", "/admin/subcategories/" + id + "/delete");
            }
        });
        $('#delModal').modal('show');
    })

</script>
</body>

</html>