<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="layout :: head" ></div>
</head>

<body>

<div class="d-flex">
    <div th:replace="layout :: sidebar"></div>

    <div class="right-section d-flex flex-column">
        <div th:replace="layout :: menu-top"></div>
        <div id="content">
            <section>
                <div class="container">
                    <div class="page-header">
                        <h3 class="m-0">Manage Users</h3>
                        <p class="m-0 mt-1">ShopBee Admin Panel</p>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 mb-5">
                                <div class="card border-0 shadow" style="border-radius: 8px !important;">
                                    <div class="card-header d-flex"
                                         style="padding: 30px !important; border-radius: 8px 8px 0 0 !important;">
                                        <h5 class="align-middle">User List</h5>
                                        <button class="btn btn-main ms-auto" id="add-btn">Add User</button>
                                    </div>
                                    <div class="card-body tables-view">
                                        <table id="example" class="table table-hover table-bordered mb-4">
                                            <thead>
                                            <tr class="text-center">
                                                <th scope="col">#</th>
                                                <th scope="col">Avatar</th>
                                                <th scope="col">Full Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="user : ${userList}" class="align-middle text-center">
                                                <th th:text="${user.id}"></th>
                                                <td><img th:attr="src = ${user.avatar}" class="thumbnail-table" alt=""/>
                                                </td>
                                                <td th:text="${user?.userDetails?.fullName}"></td>
                                                <td th:text="${user.emailAddress}"></td>
                                                <td style="width: 25%">
                                                    <div class="d-inline" th:each="role : ${user?.roles}">
                                                        <th:block th:switch="${role.roleName}">
                                                            <span th:case="'ADMIN'" class="badge rounded-pill bg-primary" th:text="${role.roleName}"></span>
                                                            <span th:case="'USER'" class="badge rounded-pill bg-secondary" th:text="${role.roleName}"></span>
                                                            <span th:case="'VENDOR'" class="badge rounded-pill bg-warning" th:text="${role.roleName}"></span>
                                                        </th:block>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-danger view-btn">
                                                        <i class="bi bi-file-earmark-text"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-secondary edit-btn">
                                                        <i class="bi bi-pen"></i>
                                                    </button>
                                                    <input type="hidden" class="userId" th:value="${user.id}">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer th:replace="layout :: footer"></footer>
        <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="viewModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column">
                        <img width="200px" id="thumbnail" alt="">
                        <div class="col mt-3">
                            <h6 class="font-weight-semi-bold ls mb-3 text-uppercase">Account Information</h6>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">ID</p>
                                </div>
                                <div class="col" id="accId"></div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">Created</p>
                                </div>
                                <div class="col" id="createdAt"></div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">UserName</p>
                                </div>
                                <div class="col" id="userName"></div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">Email</p>
                                </div>
                                <div class="col"><a id="email"></a></div>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <h6 class="font-weight-semi-bold ls mb-3 text-uppercase">Billing Information</h6>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">Full Name</p>
                                </div>
                                <div class="col" id="fullName"></div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">Address</p>
                                </div>
                                <div class="col">
                                    <p class="mb-1" id="address"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">Phone number</p>
                                </div>
                                <div class="col"><a id="phoneNumber"></a></div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">Gender</p>
                                </div>
                                <div class="col" id="gender"></div>
                            </div>
                            <div class="row">
                                <div class="col-5 col-sm-4">
                                    <p class="font-weight-semi-bold mb-1">Date of Birth</p>
                                </div>
                                <div class="col" id="dateofbirth"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <a href="#" type="submit" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    // for view user details
    $(document).on("click",".view-btn", function () {
        var id = $(this).parent().find('.userId').val();
        $('#viewModalLabel').html('Details');
        $('#viewModal #accId').text('');
        $('#viewModal #createdAt').text('');
        $('#viewModal #userName').text('');
        $('#viewModal #email').text('');
        $('#viewModal #fullName').text('');
        $('#viewModal #address').text('');
        $('#viewModal #phoneNumber').text('');
        $('#viewModal #gender').text('');
        $('#viewModal #dateofbirth').text('');
        $.ajax({
            type: 'GET',
            url: '/api/admin/users/' + id + "/getById",
            success: function (userInfo) {
                $('#viewModal #thumbnail').attr("src", userInfo.avatar);
                $('#viewModal #accId').text(userInfo.id);
                var createdAt = new Date(userInfo.createdAt);
                var dateString = createdAt.getDay() + "/" +createdAt.getMonth() + "/" + createdAt.getFullYear() + " " + createdAt.getHours() + ":" + createdAt.getMinutes();
                $('#viewModal #createdAt').text(dateString);
                $('#viewModal #userName').text(userInfo.userName);
                $('#viewModal #email').attr("href", "mailto:" + userInfo.email);
                $('#viewModal #email').text(userInfo.email);
                $('#viewModal #fullName').text(userInfo.fullName);
                $('#viewModal #address').text(userInfo.address);
                $('#viewModal #phoneNumber').attr("href", "tel:+" + userInfo.phoneNumber);
                $('#viewModal #phoneNumber').text(userInfo.phoneNumber);
                $('#viewModal #gender').text(userInfo.gender);
                $('#viewModal #dateofbirth').text(userInfo.dateofbirth);
            }
        });
        $('#viewModal').modal('show');
    });

</script>

</body>

</html>